.cell{
	display: inline-block;
	box-sizing: border-box;
	width: 31%;
	margin: 1px;
	font-size: 50px;
	text-align: center;
	background: lightgrey;
	color: white;
}
.inside .cell:hover{
		background: rgba(10,10,10,0.5); 
		color: #fff;
}
.inside{
	display: inline-block;
	width: 22%;
	margin-bottom: 1px;
	background: grey;
}
.turn{
	font-size:35px;
	font-weight: bold;
}
.back1{
	display: inline-block;
	width:31%;
	font-size: 50px;
	box-sizing: border-box;
	text-align: center;
	margin: 1px;
	background-color: yellow;
}

.back2{
	display: inline-block;
	width:31%;
	font-size: 50px;
	box-sizing: border-box;
	margin:1px;
	text-align: center;
	background-color: #b674cf;
}
