.dropbtn {
  padding: 14px;
  font-size: 14px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  line-height: 250%;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px, 10px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
